@import url('./general.css');

.service-hero{
  background-color: rgba(0, 0, 0, 0.434);
  background-size: cover;
  background-blend-mode: overlay;

  width: 100%;
  height: 91vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.service-hero-title{
  font-family: "Bodoni Moda";
  font-size: 4rem;
  font-weight: 300;
  color: white;
}

.service-hero-body{
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 3rem;
  color: white;
}

.service-description{
  display: flex;
  flex-direction: column;
  background-color: var(--beigeSR);
  color: black;
  padding: 3rem 0;
}

.service-header{
  font-family: "Bodoni Moda";
  font-size: 1.5rem;
  text-align: center;
  padding: 2rem 0;
  font-weight: bold;
  color: black;
}

.service-body{
  font-size: 0.8rem;
  padding: 0.5rem 1.5rem;
  text-align: center;
  font-weight: 300;

  line-height: 2;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-content{
  display: flex;
  align-items: center;
  justify-content:space-around;
  width: 80%;

  padding: 3rem 0;
}

.margin{
  margin-left: 8rem;
  margin-right: 8rem;
}

.service-content-left{
  position: relative;
  flex: 1;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-content-right{
  flex: 2;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.border{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-style: solid;
  padding: 1rem;
  border-radius: 1rem;

  background-color: var(--blushN);
  background-size: cover;
  background-blend-mode: overlay;
  min-height: 12rem;
  min-width: 12rem;
}

.microneedling-services{
  background-color: rgba(245, 235, 225, 0);
  background-size: cover;
}

.serv-img{
  width: 100%;
}

.white-background{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blushN);

  padding: 1rem;

  border-radius: 1rem;
}

.process{
  background-color: var(--beigeSR);

  padding: 2rem 0;
}

.service-content-header{
  font-family: "Bodoni Moda";
  font-size: 1.5rem;
  padding: 2rem 0;
  font-weight: bold;
  text-align: center;
  /* color: var(--main); */
}



.service-content-body{
  font-size: 0.9rem;
  padding: 0.25rem;
  text-align: justify;
  text-justify: inter-word;
  font-weight: 300;

  line-height: 2;
}


li{
  font-size: 1rem;
}

.divider{
  width: 96%;
  height: 3px;

  border-top: 1px solid #e0dede;
  border-bottom: 1px solid #e0dede;

  border-left: none;
  border-right: none;

  margin: 6rem 0;
}

.accordian{
  margin: 3.75rem auto;
  width: 45rem;
  position: relative;
  right: 2rem;
}

.accordian li{
  list-style: none;
  width: 100%;
  margin: 1.25rem;
  padding: 0.625rem;
  border-radius: 0.5rem;
  background: var(--blushN);
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
              -6px -6px 10px -1px rgba(255, 255, 255, 0.7)
}

.accordian li label{
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

label::before{
  content: '+';
  margin-right: 10px;
  font-size: 24px;
  font-weight: 600;
}

input[type="checkbox"]{
  display: none;
}

.accordian .content{
  color: #555;
  padding: 0 10px;
  font-weight: 300;
  line-height: 2;
  /* sets all options to no height and hides overflow to hide all content */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.75s, padding 0.75s;
}

.accordian input[type="checkbox"]:checked + label + .content{
  max-height: 400px;
  padding: 10px 10px 20px;
}

.accordian input[type="checkbox"]:checked + label::before{
  content: '-';
}

.service-faqs{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.highlighted{
  background-color: var(--beigeSR);
}